<div class="guide_container">
  <div class="text-center">
    <hr>
    <h1 class="food_text"><%= t('view.user_guide') %></h1>
    <hr>
  </div>
  <section class="guide_flow_container">
    <p>①トップページ</p>
    <p>②プロフィール</p>
    <p>③食品登録</p>
    <p>④記録作成</p>
    <p>④自分の記録閲覧</p>
    <p>⑤他のユーザーの記録閲覧</p>
    <p>⑥フォロー機能</p>
    <p>⑦食品コピー機能</p>
    <p>⑧BMI機能</p>
  </section>
  <hr>
  <section>
    <h3>①トップページ</h3>
    <p>下記3つの中から自分に該当するボタンを選択し、必要項目を入力しましょう。</p>
    <ul>
      <li>① ゲストログイン・・・登録せずにちょこっと使ってみるお試し機能です</li>
      <li>② サインアップ・・・最初にアカウントを作成するためのページです</li>
      <li>③ ログイン・・・２回目以降にログインするためのページです</li>
    </ul>
    <img alt="top_page" src="/assets/guide3.jpg" width="650px">
  </section>
  <hr>
  <section>
    <h3>②プロフィール</h3>
    <p>
      サインアップ、ログイン後はこのページに飛びます。
      プロフィールの編集もできますが、まずは②の食品登録を押してみましょう。
    </p>
    <ul>
      <li>① 食品登録・・・食品をタンパク質と共に登録します</li>
      <li>② 編集・・・サインアップ時以外のプロフィール項目を入力します</li>
    </ul>
    <img alt="top_page" src="/assets/guide2.jpg" width="650px">
  </section>
  <hr>
  <section>
    <h3>③食品登録</h3>
    <p>
      食品登録のページです。<br><br>
      食品名: 納豆 <br>
      タンパク質量: 4 <br>
      基準量: 1 <br>
      単位: パック <br><br>
      上記のように入力して登録ボタンを押しましょう。<br><br>
    </p>
    <img alt="top_page" src="/assets/guide3.jpg" width="650px">
    <p>
      <br><br>
      すると、食品一覧ページの一番上に登録した食品が表示されます。<br>
      この食品を元に食事記録を作成しましょう。①のボタンを押します。
    </p>
    <br>
    <img alt="top_page" src="/assets/guide3_2.jpg" width="650px">
  </section>
  <hr>
    <hr>
  <section>
    <h3>④記録作成</h3>
    <p>食品を元にタンパク質を管理していきます。<br>
      まずは日付、食品名、食事量の項目を全て埋めて登録ボタンを押しましょう。
      <br><br>
      食品名が多くて探せない場合は食品検索欄で検索ができます。<br><br>
      食品名で検索 (部分検索) <br>
      タンパク質量 (ちょうど何g) <br>
      タンパク質量 (何g以上) <br>
      タンパク質量 (何g以下) <br><br>
      上記4つのいずれかで検索できます。(2つの機能を組み合わせて検索はできません)
    </p>
    <img alt="top_page" src="/assets/guide4.png" width="650px">
    <br><br>
    <p>
      記録詳細ページに登録した内容が表示されます。<br>
      まだ食品が１つしか登録されていないので、食品の数を増やしていきましょう。<br>
      編集ボタンを押します。
    </p>
    <br>
    <img alt="top_page" src="/assets/guide4_2.jpg" width="650px">
    <br><br>
    <p>
      登録欄が5つ増えるので、必要な数だけ入力して更新ボタンを押しましょう。
    </p>
    <img alt="top_page" src="/assets/guide4_3.png"height="400px" width="auto">
    <br><br>
    <p>
      更新内容が反映されているのが確認できました。<br>
      毎日の記録を押してみましょう。
    </p>
    <br>
    <img alt="top_page" src="/assets/guide4_4.jpg" width="650px">
    <br>
    <p>
      登録欄が5つ増えるので、必要な数だけ入力して更新ボタンを押しましょう。
    </p>
  </section>
  <hr>
</div>