<div class="guide_container">
  <div class="text-center">
    <hr>
    <h1 class="food_text"><%= t('view.user_guide') %></h1>
    <hr>
  </div>
  <section class="guide_flow_container">
    <div>①トップページ</div>
    <div>②食品登録</div>
    <div>③食事記録作成</div>
    <div>④自分の記録閲覧</div>
    <div>⑤他のユーザーの記録閲覧</div>
    <div>⑥フォロー機能</div>
    <div>⑦食品コピー機能</div>
    <div>⑧BMI機能</div>
  </section>
  <hr>
  <section>
    ①トップページ
    <img alt="top_page" src="/assets/guide1.jpg" width="650px">
  </section>
  <hr>
</div>