<div class="d-flex flex-column justify-content-center align-items-center main_contents_container bg-white contact_new_wrapper p-3 my-5">
  <div>
    <h1 class="main_title"><%= t('view.reply_new') %></h1>
  </div>
  <div>
    <%= render 'form', reply: @reply %>
  </div>
</div>