<div class="d-flex flex-row justify-content-around align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center day_record_style record_edit_wrapper">
    <div>
      <h1 class="food_text mt-3"><%= t('view.record_edit') %></h1>
    </div>
    <div>
      <%= render 'form', record: @record %>
    </div>
  </div>
</div>