<div class="d-flex flex-row justify-content-around align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center main_contents_container bg-white p-3 my-5">
    <div>
      <h1 class="main_title"><%= t('view.record_new') %></h1>
    </div>
    <div>
      <%= render 'form', record: @record %>
    </div>
  </div>
</div>