<div class="d-flex flex-row justify-content-around align-items-center">
  <div class="picture_nostalgy nostalsy_padding"></div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>
      <h1 class="food_text"><%= t('view.record_new') %></h1>
    </div>
    <div>
      <%= render 'form', record: @record %>
    </div>
  </div>
</div>