<div class="d-flex flex-column justify-content-center align-items-center day_record_style bg-white contact_new_wrapper p-3 my-5">
  <div>
    <h1 class="food_text"><%= t('view.contact_edit') %></h1>
  </div>
  <div class="contact_area">
    <%= render 'form', food: @contact %>
  </div>
</div>