<div class="main_wrapper">
  <div class="contact_main_wrapper d-flex flex-row justify-content-around">
    <div class="side_bar_container">
      <%= render 'layouts/side_bar' %>
    </div>
    <div class="contact_form_wrapper">
      <div class="d-flex flex-column justify-content-center align-items-center p-3">
        <div>
          <h1 class="main_title pt-2"><%= t('view.contact_new') %></h1>
        </div>
        <div class="contact_form_container scroll">
          <%= render 'form', contact: @contact %>
        </div>
        <div class="row justify-content-center mt-3">
          <%= link_to t('view.back'), contacts_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>