<div class="main_wrapper">
  <div class="food_main_wrapper d-flex flex-row justify-content-around">
    <div class="side_bar_container">
      <%= render 'layouts/side_bar' %>
    </div>
    <div class="food_form_wrapper">
      <div class="d-flex flex-column justify-content-center align-items-center p-3">
        <div>
          <h1 class="main_title"><%= t('view.food_edit') %></h1>
        </div>
        <div class="food_form_container justify-content-center align-items-center scroll">
          <%= render 'form', food: @food %>
        </div>
        <div class="row justify-content-center mt-3">
          <%= link_to t('view.back'), :back, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>