<div class="d-flex flex-column justify-content-center align-items-center container bmi_wrapper">
  <div class="my-4">
    <h1 class="food_text"><%= t('view.bmi_edit') %></h1>
  </div>
  <%= render 'form' %>
</div>