@charset "utf-8";

.food_field {
  width: 100px;
}
.food_th_width {
  width: 100px;
  text-align: center;
}
.food_td {
  text-align: center;
}
.food_text {
  color: rgb(85, 215, 59);
  text-shadow: 2px 2px rgb(182, 184, 79);
}