@charset "utf-8";
$navbar-light-color: rgba(18, 39, 233, 0.7);
$dark_gray: rgb(90, 90, 90);

html {
  font-size: 80.5%;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body_wrapper {
  overflow-wrap : break-word;
  min-width: 100vh;
  flex: 1;
}
.top_image {
  width: 100%;
  height: 100vh;
  background-image: image_url('top_image.jpg');
  background-size: cover;
}
.top_image::before {
  content: '';
  background-color: rgba(16, 71, 97, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
#responsiveMenu {
  height: 50px;
}
.navbar {
  height: 60px;
  margin: 3%;
  border-radius: 40px;
}
.dropdown {
  margin-top: 2px;
}
.nav-link, #dropdown1, #dropdown2 {
  display: block;
  width: 160px;
  color: rgba(14, 29, 163, 0.7) !important;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 3%;
}
#dropdown1, #dropdown2 {
  width: 200px;
  background: transparent;
  border: none;
}
.nav-link:hover {
  color: rgba(57, 77, 253, 0.7) !important;
  font-weight: bold;
  transform: scale(1.1);
  text-decoration: solid underline rgba(57, 77, 253, 0.7) 1px !important;
}
@media only screen and (max-width: 992px) {
  .nav-link, #dropdown1, #dropdown2 {
    width: 90%;
    text-align: center;
    transform: scale(1.05);
    background-color:rgba(250, 250, 250, 0.9);
    border-radius: 3px;
    border: none;
  }
  .dropdown {
    margin-top: 0;
  }
}
.dropdown_item {
  width: 200px;
}
.side_bar_item, .dropdown_item {
  color:  rgba(14, 29, 163, 0.7) !important;
  width: 170px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  list-style: none;
}
.dropdown_item {
  width: 200px;
}
.side_bar_item .nav-link {
  margin-left: 0;
}
.navbar:hover {
  transform: scale(1.05);
  border-radius: 40px;
}
.navbar-nav{
  .dropdown-menu {
    position: static;
    float: none;
  }
}
.header_user_name {
  display: block;
  width: 180px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 7%;
}
.logo {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  line-height: 40px;
  background-color: #93c9ff;
  box-shadow: 0 0 8px rgb(85, 101, 151);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.logo:hover {
  transform: scale(1.1);
  color: #51a0ee;
  background-color: #fff;
}
.side_bar {
  position: absolute;
  display: flex;
  top: 140px;
  left: 30%;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  padding: 1%;
  background-color: rgb(255, 255, 255);
}
.side_bar:hover {
  transform: scale(1.05);
}
.side_bar_item {
  color:  rgba(14, 29, 163, 0.7) !important;
  width: 170px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  list-style: none;
}
.side_bar_title {
  font-size: 1.6rem;
  font-weight: bold;
  color: $dark_gray;
  text-align: center;
  padding-bottom: 3%;
  border-bottom: dashed 2px rgb(179, 172, 172);
  list-style: none;
}
hr {
  border-width: 90%;
  border-style: solid;
  border-color: #b6b5b5;
  size: 2px;
  }
.top_index, .login_index, .sign_up_index{
  position: relative;
  z-index: 1;
}
.wf-sawarabi { font-family: 'Sawarabi Gothic', sans-serif; }
h1 {
  font-size: 3rem;
  font-weight: bold;
}
th, .bold_font_size {
  font-size: 1.2rem;
}
td {
  font-size: 1rem;
  padding-top: 10px;
}
.row-0{
  margin-left:0px;
  margin-right:0px;

  > div{
      padding-right:0px;
      padding-left:0px;
  }
}
.row-10{
  margin-left:-5px;
  margin-right:-5px;

  > div{
      padding-right:5px;
      padding-left:5px;
  }
}
.row-20{
  margin-left:-10px;
  margin-right:-10px;

  > div{
      padding-right:10px;
      padding-left:10px;
  }
}
.row-30{
  margin-left:-15px;
  margin-right:-15px;

  > div{
      padding-right:15px;
      padding-left:15px;
  }
}
.row-40{
  margin-left:-20px;
  margin-right:-20px;
  > div{
      padding-right:20px;
      padding-left:20px;
  }
}
.row-50{
  margin-left:-25px;
  margin-right:-25px;

  > div{
      padding-right:25px;
      padding-left:25px;
  }
}
.main_title {
  color: $dark_gray;
  font-weight: 800;
}
.border_top_gray {
  border-bottom: solid 2px #cac3c3;
  width: 90%;
  padding: auto;
}
footer {
  pointer-events: none;
}
.footer {
  position: absolute;
  height: 60px;
  margin: 3% 3% 3% 3%;
  border-radius: 40px;
  width: 93%;
  background: #fff;
}
.footer span {
  font-size: 1.1rem;
}
#copy_right {
  text-align: center;
  line-height: 60px;
  list-style: none;
}
.contents_wrapper {
  width: 100%;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}
.submit_button {
  width: 70px;
  border: none;
}
.notice, .alert {
  display: block;
  width: 700px;
  height: 60px;
  line-height: 60px;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  border-radius: 20px;
  margin-left: 17%;
  margin-bottom: 3%;
  z-index: 2;
}
.alert{
  line-height: 40px;
}
.login_alert {
  margin-left: 0;
}
@media only screen and (max-width: 960px) {
  .notice, .alert {
    width: 500px;
    height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
  }
  .alert {
    line-height: 20px;
  }
}
.main_title_and_flash_container {
  width: 90%;
}
.after_login_notice, .after_login_alert {
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(12, 146, 0);
  text-align: center;
  border-radius: 20px;
  z-index: 2;
}
.after_login_alert {
  color: rgb(204, 0, 0);
}
.label_font {
  color: $dark_gray;
  font-weight: bold;
  text-align: center;
}
.scroll{
  overflow:scroll;
}
.scroll-y{
  overflow:hidden;
  overflow-y:scroll;
}
#error_explanation{
  padding: 1%;
  max-width: 90%;
  border-radius: 15px;
  color: rgb(180, 12, 196);
  overflow-wrap: break-word;
  background: #fff;
  z-index: 1;
}