@charset "utf-8";
$white: #fff;

html {
  font-size: 80.5%;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body_wrapper {
  flex: 1;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
th, .bold_font_size {
  font-size: 1.2rem;
}
td {
  font-size: 1rem;
  padding-top: 10px;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
}
.nav_color {
  background: linear-gradient(60deg, rgba(214, 213, 122, 0.4), rgba(104, 206, 126, 0.7));
}
.logo {
  font-size: 1.5rem;
}
.nav-link {
  color: rgba(102, 102, 98, 0.9);
  text-shadow: 2px 2px rgb(180, 204, 93);
  font-size: 1rem;
}
.card-footer {
  background: linear-gradient(60deg,  rgba(104, 206, 126, 0.7), rgba(214, 213, 122, 0.4));
  text-shadow: 2px 2px rgb(180, 204, 93);
  text-align: center;
  width: 100%;
  height: 56px;
  padding: 0;
  line-height: 25px;
}
.contents_wrapper {
  width: 100%;
}
.button_design {
  width: 60px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(-140deg, #e9f393, #a5f1c2);
  box-shadow: 1px 1px 1px 1px rgb(194, 136, 49);
  color: rgba(102, 102, 98, 0.9);
  text-shadow: 2px 2px rgb(180, 204, 93);
  border-radius: 10px;
  margin: 0 5px 5px 5px;
}
.button_text_color {
  color: rgba(102, 102, 98, 0.9);
  text-shadow: 2px 2px rgb(180, 204, 93);
}
.notice, .alert {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.pagination>li>a {
  border: none;
  color: #696969;
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

.grass_header {
  width: 100%;
  height: 100px;
  background-image: image_url('grass_header.jpg');
  background-size: cover;
}
.grass_footer {
  width: 100%;
  height: 100px;
  background-image: image_url('grass_footer.jpg');
  background-size: cover;
}
.submit_button {
  width: 70px;
  border: none;
}
.food_text {
  color: rgb(85, 215, 59);
  text-shadow: 2px 2px rgb(182, 184, 79);
}
.notice_size {
  width: 400px;
  height: 80px;
  font-size: 3rem;
  line-height: 80px;
}
.alert_size {
  width: 400px;
  height: 80px;
  font-size: 3rem;
  line-height: 80px;
}