@charset "utf-8";

.record_edit_wrapper {
  width: 450px;
  margin: 5% 0;
}
.index_picture_margin {
  margin: 0 30px;
}
#record_food_id {
  width: 149px;
  height: 24px;
}
.ate_width {
  width: 70px;
}
.show_text_width {
  width: 70px;
  text-align: center;
}
.show_text_protein {
  width: 100px;
  text-align: center;
}
.day_record_style {
  border: solid 3px green;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
  border: solid 1px rgb(150, 143, 143);
  padding-bottom: 1%;
  padding-right: 5px;
}
.border_bottom {
  border-bottom: solid 3px green;
}
.border_top {
  border-top: solid 3px green;
}
.table_width {
  min-width: 400px;
}
.record_th {
  min-width: 45px;
}
.my_target {
  max-width: 300px;
  min-height: 40px;
  font-size: 1.5rem;
  line-height: 38px;
  display: block;
  border-radius: 10px;
  position: fixed;
  left: 50px;
  top: 340px;
  padding: 5px 10px 10px 10px;
}
@media only screen and (max-width: 1200px) {
  .my_target {
    position: static;
  }
}
.box7{
  font-size: 1.5rem;
  padding: 0.5em 1em;
  width: 450px;
  text-align: center;
  margin: 5% 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 10px #d37f4e;
  border-right: double 10px #d37f4e;
}
.box7 span {
  color: rgb(238, 106, 35);
  font-weight: bold;
}
.simple-calendar {
  width: 470px;
  padding: 5%;
  margin: 3% 0;
  background: linear-gradient(-130deg, #f2d267, #faeccd);
  opacity: 0.8;
  box-shadow: 0px 0px 0px 5px #f1d68f;
  border: dashed 3px white;
  padding: 0.2em 0.5em;
}
.calendar-title {
  font-size: 1.4rem;
}
.calendar-heading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.calendar-heading a {
  color: #f86e33;
  font-size: 1.2rem;
  padding: 0 10px;
}
.calendar-heading a:hover {
  color: #f04406;
  font-size: 1.3rem;
  padding: 0 10px;
}
.text_color {
  font-size: 1.2rem;
  color: #5b5d63;
  background: -webkit-linear-gradient(0deg, #686565, #4b4d4a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.table_border, .table_border td, .table thead th {
  border: dashed 2px #fff !important;
  z-index: 1;
}