@charset "utf-8";

.nutrition_record_form_wrapper, .nutrition_record_index_wrapper, .nutrition_record_my_daily_wrapper, .nutrition_record_show_wrapper {
  min-width: 60%;
  height: 480px;
  background: #fff;
  border: border 1px #fff;
  border-radius: 30px;
  margin-top: 140px;
  z-index: 1;
}
.nutrition_record_index_wrapper {
  height: 500px;
}
.nutrition_record_my_daily_wrapper {
  height: 510px;
}
@media only screen and (max-width: 992px) {
  .nutrition_record_index_wrapper .nutrition_record_my_daily_wrapper {
    min-width: 600px;
    left: 0;
  }
  .nutrition_record_form_wrapper {
    min-width: 550px;
  }
}
.nutrition_record_form_container, .nutrition_record_index_container, .nutrition_record_my_daily_container, .nutrition_record_show_container {
  border-radius: 20px;
  min-width: 90%;
  height: 350px;
  border: 2px solid rgb(138, 138, 138);
}
.nutrition_record_index_container {
  height: 360px;
}
.my_daily_container {
  height: 380px;
}
.nutrition_record_lines_container {
  width: 90%;
  border-top: solid 2px rgb(150, 143, 143);
  border-bottom: solid 2px rgb(150, 143, 143);
}
.nutrition_record_lines_my_daily {
  width: 90%;
  border-top: solid 2px rgb(150, 143, 143);
  margin-right: 2%;
}
.record_line_container_large {
  width: 180px;
  text-align: center;
}
.record_line_container_middle {
  width: 100px;
  text-align: center;
}
.record_line_container_small {
  width: 50px;
  text-align: center;
}
.index_picture_margin {
  margin: 0 30px;
}
#record_food_id {
  width: 149px;
  height: 24px;
}
.ate_width {
  width: 70px;
}
.show_text_width {
  width: 70px;
  text-align: center;
}
.show_text_protein {
  width: 100px;
  text-align: center;
}
.border_bottom {
  border-bottom: solid 2px rgb(139, 139, 139);
}
.border_top {
  border-top: solid 2px rgb(139, 139, 139);
}
.day_user_box {
  width: 50%;
}
.record_lines_border {
  border: solid 2px rgb(139, 139, 139);
}
.my_target {
  width: 200px;
  height: 36px;
  font-size: 1.2rem;
  line-height: 30px;
  display: block;
  border-radius: 30px;
  color: #5a5a5a;
  padding: 10px;
  margin-left: 20px;
  z-index: 1;
}
#modal_button {
  width: 90px;
  height: 20px;
  font-size: 1rem;
  line-height: 10px;
  border-radius: 10px;
  z-index: 1;
}
.box7 {
  font-size: 1.5rem;
  padding: 0.5em 1em;
  width: 450px;
  text-align: center;
  margin: 5% 0;
  color: #474747;
  background: whitesmoke;
  border-left: double 10px #d37f4e;
  border-right: double 10px #d37f4e;
}
.box7 span {
  color: rgb(238, 106, 35);
  font-weight: bold;
}
.simple-calendar {
  width: 470px;
  padding: 5%;
  margin: 3% 0;
  background: linear-gradient(-130deg, #679ff2, #d1d0ce);
  opacity: 0.8;
  box-shadow: 0px 0px 0px 5px #757573;
  border: dashed 3px white;
  padding: 0.2em 0.5em;
  .day {
    height: 70px;
  }
}
.calendar-title {
  font-size: 1.4rem;
}
.calendar-heading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
.calendar-heading a {
  color: #170099;
  font-size: 1.2rem;
  padding: 0 10px;
}
.calendar-heading a:hover {
  color: #0051ff;
  font-size: 1.3rem;
  padding: 0 10px;
}

.table_border, .table_border td, .table thead th {
  border: dashed 2px #fff !important;
  z-index: 1;
}
