@charset "utf-8";
$navbar-light-color: rgba(18, 39, 233, 0.7);

.top_image {
  width: 100%;
  height: 100vh;
  background-image: image_url('top_image.jpg');
  background-size: cover;
}
.top_image::before {
  content: '';
  background-color: rgba(16, 71, 97, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
#responsiveMenu {
  height: 50px;
}
.navbar {
  height: 60px;
  margin: 4% 4%;
  border-radius: 40px;
}
.nav-link {
  display: block;
  width: 160px;
  color: rgba(14, 29, 163, 0.7) !important;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 3%;
}
.nav-link:hover {
  color: rgba(57, 77, 253, 0.7) !important;
  font-weight: bold;
  transform: scale(1.1);
  text-decoration: solid underline rgba(57, 77, 253, 0.7) 1px !important;
}
.navbar:hover {
  transform: scale(1.05);
  border-radius: 40px;
}
.navbar-nav{
  .dropdown-menu {
    position: static;
    float: none;
  }
}
.text_area {
  width: 80%;
}
.top_content_wrapper {
  padding-top: 10%;
}
.main_sentence {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(250, 250, 250, 0.9);
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 8px rgb(239, 239, 241);
}
.diagonal_strings {
  transform: rotate(-10deg);
  width: 80%;
  margin-bottom: 10%;
}
.diagonal_strings:hover {
  p {
    font-size: 3.2em;
  }
  width: 85%;
}
.button_frame, .top_buttons_design {
  display: block;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  font-size: 1.3rem;
  font-weight: bold;
  background: linear-gradient(to right bottom, #d7eafb, #0206fa);
  z-index: 2;
  .top_buttons_design {
    transition: all 0.3s;
    display: block;
    color: #5557e9;
    border: solid 2px rgb(182, 177, 177);
    background: #fff;
    z-index: 1;
  }
}
.button_frame:hover {
  background: transparent;
}
.top_buttons_design:hover {
  border: none;
  color: #fff;
  background: linear-gradient(45deg, #3d8bf0 0%, #a0c5fb 50%, #3976fa 150%);
  background-size: 250% auto;
  background-position: right center;
  box-shadow: 0 5px 10px rgba(199, 198, 198, 0.4);
}
.normal_sentence {
  font-size: 1.3rem;
  text-align: center;
  color: rgba(250, 250, 250, 0.9);
  text-align: left;
}
.wf-sawarabi { font-family: 'Sawarabi Gothic', sans-serif; }
@media only screen and (max-width: 992px) {
  .nav-link {
    width: 90%;
    text-align: center;
    transform: scale(1.05);
    background-color:rgba(250, 250, 250, 0.9);
    border-radius: 3px;
  }
  .main_sentence {
    font-size: 2.5rem;
    color: rgba(250, 250, 250, 0.9);
    text-align: center;
    z-index: 1;
  }
  .diagonal_strings:hover {
    p {
      font-size: 3.0em;
    }
    width: 85%;
  }
}
@media only screen and (max-width: 880px) {
  .main_sentence {
    font-size: 2rem;
    z-index: 2;
  }
  .diagonal_strings:hover {
    p {
      font-size: 2.2em;
    }
    width: 85%;
  }
}
.guide_container {
  width: 100%;
  height: auto;
  background-color: #fff;
}