@charset "utf-8";

.follow_button {
  width: 100px;
  border: none;
}
.unfollow_button {
  width: 120px;
  border: none;
}
.delete_button {
  width: 135px;
  border: none;
}
.sign_up_button {
  width: 135px;
  border: none;
}
.login_button {
  width: 130px;
  border: none;
}
.admin_dashboard_button {
  width: 100px;
  border: none;
}
.table_width {
  width: 400px;
}
.image_width {
  width: 70%;
}
#user_profile_image {
  width: 300px;
}
#user_height, #user_weight, #user_protein_target {
  width: 90px;
}
.follow_th_width {
  width: 120px;
}
.profile_wrapper {
  min-height: 100%;
}
.profile_picture {
  border-radius: 30px;
}