@charset "utf-8";

.follow_button {
  width: 100px;
  border: none;
}
.unfollow_button {
  width: 120px;
  border: none;
}
.delete_button {
  width: 135px;
  border: none;
}
.sign_up_button {
  width: 135px;
  border: none;
}
.login_button {
  width: 130px;
  border: none;
}
.admin_dashboard_button {
  width: 100px;
  border: none;
}
.table_width {
  width: 400px;
}
.image_width {
  width: 70%;
}
#user_profile_image {
  width: 300px;
}
#user_height, #user_weight, #user_protein_target {
  width: 90px;
}
.follow_th_width {
  width: 120px;
}
.profile_wrapper {
  min-height: 100%;
}
.cat_before {
  top: 180px;
  width: 330px;
  height: 250px;
  background-image: image_url('cat_before.png');
  background-size: cover;
}
.cat_after {
  display: block;
  top: 150px;
  width: 0px;
  height: 0px;
  background-image: image_url('cat_after.png');
  background-size: cover;
}
.cow {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 250px;
  height: 200px;
  background-image: image_url('cow.png');
  background-size: cover;
}
@media only screen and (max-width: 1200px) {
  .cat_before {
    width: 280px;
    height: 230px;
  }
}
@media only screen and (max-width: 1100px) {
  .cat_before {
    width: 230px;
    height: 180px;
  }
  .cow {
    width: 0px;
    height: 0px;
  }
}
@media only screen and (max-width: 1020px) {
  .cat_before {
    width: 0px;
    height: 0px;
  }
  .cat_after {
    position: static;
    display: block;
    width: 180px;
    height: 130px;
  }
}
@media only screen and (max-width: 768px) {
  .cat_after {
    position: static;
    display: block;
    width: 0px;
    height: 0px;
  }
}
