@charset "utf-8";

.follow_button {
  width: 100px;
  border: none;
}
.unfollow_button {
  width: 120px;
  border: none;
}
.delete_button {
  width: 135px;
  border: none;
}
.admin_dashboard_button {
  width: 100px;
  border: none;
}
.table_width {
  width: 400px;
}
.image_width {
  width: 70%;
}
#user_profile_image {
  width: 300px;
}
#user_height, #user_weight, #user_protein_target {
  width: 90px;
}
.follow_th_width {
  width: 120px;
}
.profile_wrapper, .profile_edit_wrapper, .follow_wrapper {
  width: 60%;
  height: 500px;
  background: #fff;
  border: border 1px #fff;
  border-radius: 30px;
  margin-top: 140px;
  z-index: 1;
}
.profile_detail_container, .profile_edit_container {
  border-radius: 20px;
  width: 90%;
  height: 380px;
  border: 2px solid rgb(138, 138, 138);
}
.follow_wrapper {
  height: 480px;
}
.follow_container {
  width: 90%;
  height: 280px;
  border-radius: 20px;
  border: 2px solid rgb(138, 138, 138);
}
.profile_picture {
  border-radius: 30px;
}
.profile_label{
  width: 150px;
  height: 30px;
  text-align: left;
}
.profile_item {
  width: 50%;
  min-height: 30px;
}
#introduce_form{
  width: 150%;
  max-height: 180px;
}
.follow_item, .follow_item_header {
  width: 140px;
  height: 40px;
  text-align: center;
}
.follow_item_header {
  height: 20px;
  margin-bottom: 1%;
}