<% if model.errors.any? %>
  <div id='error_explanation top_index'>
    <h2><%= model.errors.count %><%= t('view.error_sentence') %></h2>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>