<% if notice %>
  <p class="notice alert-light text-center"><%= notice %></p>
<% elsif alert%>
  <p class="alert alert-light text-center"><%= alert %></p>
<% else %>
  <div class="my-5"></div>
<% end %>